/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
.border {
  border-top-right-radius: 100px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 150px;
  border-bottom-right-radius: 150px;
  border: 2px double aliceblue;
  margin: 2em;
  justify-content: center;
}
.box {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-left: 1em;
}
.button {
  width: 10%;
  margin: 0;
  border: 3px solid powderblue;
  padding: 5px;
  display: inline-flex;
  border-radius: 10px;
  color: black;
  text-decoration: none;
  margin-bottom: 10px;
  background: peachpuff;
}
.h2-font {
  font-size: 1em;
  font-family: fantasy;
  font-weight: 100em;
  color: pink;
}
.p-font {
  font-size: 0.5em;
  font-family: Papyrus, fantasy;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}
.container {
  width: 800px;
  margin: auto;
  border: 3px solid pink;
  background-image: url(https://i.picsum.photos/id/1019/5472/3648.jpg);
}
.container header {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-left: 1em;
}
.container header h1 {
  font-size: 2em;
  font-family: fantasy;
  font-weight: 200;
  color: pink;
  width: 30%;
}
.container header nav {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-left: 1em;
  margin: 1em;
}
.container header nav a {
  width: 10%;
  margin: 0;
  border: 3px solid powderblue;
  padding: 5px;
  display: inline-flex;
  border-radius: 10px;
  color: black;
  text-decoration: none;
  margin-bottom: 10px;
  background: peachpuff;
}
.container .about {
  width: 50%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-left: 1em;
  border-top-right-radius: 100px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 150px;
  border-bottom-right-radius: 150px;
  border: 2px double aliceblue;
  margin: 2em;
  justify-content: center;
  background-color: oldlace;
}
.container .about h2 {
  width: 30%;
  font-size: 1em;
  font-family: fantasy;
  font-weight: 100em;
  color: pink;
  margin-top: 4em;
}
.container .about img {
  border-radius: 50;
}
.container .about p {
  width: 50%;
  font-size: 0.5em;
  font-family: Papyrus, fantasy;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}
.container .skills {
  width: 50%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-left: 1em;
  border-top-right-radius: 100px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 150px;
  border-bottom-right-radius: 150px;
  border: 2px double aliceblue;
  margin: 2em;
  justify-content: center;
  margin-left: 20em;
  background-color: lavenderblush;
}
.container .skills h2 {
  width: 30%;
  font-size: 1em;
  font-family: fantasy;
  font-weight: 100em;
  color: pink;
  margin-top: 4em;
}
.container .skills ul {
  width: 50%;
  font-size: 0.5em;
  font-family: Papyrus, fantasy;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}
.container .work {
  width: 50%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-left: 1em;
  border-top-right-radius: 100px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 150px;
  border-bottom-right-radius: 150px;
  border: 2px double aliceblue;
  margin: 2em;
  justify-content: center;
  background-color: gainsboro;
}
.container .work h2 {
  width: 30%;
  font-size: 1em;
  font-family: fantasy;
  font-weight: 100em;
  color: pink;
  margin-top: 2em;
}
.container .work ul {
  width: 50%;
  font-size: 0.5em;
  font-family: Papyrus, fantasy;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}
.container .contact {
  width: 50%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-left: 1em;
  border-top-right-radius: 100px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 150px;
  border-bottom-right-radius: 150px;
  border: 2px double aliceblue;
  margin: 2em;
  justify-content: center;
  margin-left: 20em;
  background-color: hotpink;
}
.container .contact h2 {
  width: 30%;
  font-size: 1em;
  font-family: fantasy;
  font-weight: 100em;
  color: pink;
  margin-top: 1em;
}
.container .contact ul {
  width: 50%;
  font-size: 0.5em;
  font-family: Papyrus, fantasy;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}
.container .footer {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-left: 1em;
}
.container .footer nav {
  width: 100%;
}
.container .footer nav a {
  width: 10%;
  margin: 0;
  border: 3px solid powderblue;
  padding: 5px;
  display: inline-flex;
  border-radius: 10px;
  color: black;
  text-decoration: none;
  margin-bottom: 10px;
  background: peachpuff;
}
