/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
.border {
  border: 2px double aliceblue;
  margin: 2em;
  justify-content: center;
}
.box {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-left: 1em;
}
.button {
  width: 10%;
  margin: 0;
  border: 3px solid powderblue;
  padding: 5px;
  display: inline-flex;
  border-radius: 10px;
  color: cornflowerblue;
  text-decoration: none;
  margin-bottom: 10px;
  background: peachpuff;
  font-family: 'Lobster', cursive;
}
.h2-font {
  font-size: 1.5em;
  font-family: 'Lobster', cursive;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
  color: plum;
}
.p-font {
  font-family: 'Lobster', cursive;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
  color: palevioletred;
}
.column {
  float: center;
  width: 33.33%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
@media (max-width: 500px) {
  .mobile {
    width: 97%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: auto 0;
    margin-left: 0.5em;
    font-size: 0.8em;
    font-family: fantasy;
  }
}
.container {
  width: 800px;
  margin: auto;
  border: 3px solid pink;
  background-color: darkslategrey;
}
@media (max-width: 500px) {
  .container {
    width: 97%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: auto 0;
    margin-left: 0.5em;
    font-size: 0.8em;
    font-family: fantasy;
  }
}
.container header {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-left: 1em;
}
@media (max-width: 500px) {
  .container header {
    width: 97%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: auto 0;
    margin-left: 0.5em;
    font-size: 0.8em;
    font-family: fantasy;
  }
}
.container header img {
  width: 20%;
  height: 20%;
  margin-right: 1em;
  border: 2px double aliceblue;
  margin: 2em;
  justify-content: center;
}
.container h1 {
  margin-left: 4em;
  margin-top: 2em;
  font-size: 3em;
  font-family: 'Lobster', cursive;
  font-weight: 400;
  line-height: 20px;
  width: 40%;
  color: pink;
}
.container h2 {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-left: 1em;
  color: pink;
  font-size: 2rem;
  font-family: 'Lobster', cursive;
}
.container nav {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-left: 1em;
}
.container nav a {
  display: flex;
  width: 10%;
  margin: 0;
  border: 3px solid powderblue;
  padding: 5px;
  display: inline-flex;
  border-radius: 10px;
  color: cornflowerblue;
  text-decoration: none;
  margin-bottom: 10px;
  background: peachpuff;
  font-family: 'Lobster', cursive;
  justify-content: center;
}
.container .about {
  width: 50%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-left: 1em;
  border: 2px double aliceblue;
  margin: 2em;
  justify-content: center;
  background-color: oldlace;
}
@media (max-width: 500px) {
  .container .about {
    width: 97%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: auto 0;
    margin-left: 0.5em;
    font-size: 0.8em;
    font-family: fantasy;
  }
}
.container .about h2 {
  width: 30%;
  font-size: 1.5em;
  font-family: 'Lobster', cursive;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
  color: plum;
  margin-top: 2em;
  margin-right: 0.5em;
}
.container .about p {
  width: 50%;
  font-family: 'Lobster', cursive;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
  color: palevioletred;
}
@media (max-width: 500px) {
  .container .about p {
    width: 97%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: auto 0;
    margin-left: 0.5em;
    font-size: 0.8em;
    font-family: fantasy;
  }
}
.container .skills {
  width: 50%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-left: 1em;
  border: 2px double aliceblue;
  margin: 2em;
  justify-content: center;
  margin-left: 20em;
  background-color: lavenderblush;
}
@media (max-width: 500px) {
  .container .skills {
    width: 97%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: auto 0;
    margin-left: 0.5em;
    font-size: 0.8em;
    font-family: fantasy;
  }
}
.container .skills h2 {
  width: 30%;
  font-size: 1.5em;
  font-family: 'Lobster', cursive;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
  color: plum;
  margin-top: 2em;
  margin-right: 0.5em;
}
.container .skills ul {
  width: 50%;
  font-family: 'Lobster', cursive;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
  color: palevioletred;
}
@media (max-width: 500px) {
  .container .skills ul {
    width: 97%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: auto 0;
    margin-left: 0.5em;
    font-size: 0.8em;
    font-family: fantasy;
  }
}
.container .work {
  width: 50%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-left: 1em;
  border: 2px double aliceblue;
  margin: 2em;
  justify-content: center;
  background-color: gainsboro;
}
@media (max-width: 500px) {
  .container .work {
    width: 97%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: auto 0;
    margin-left: 0.5em;
    font-size: 0.8em;
    font-family: fantasy;
  }
}
.container .work h2 {
  width: 30%;
  font-size: 1.5em;
  font-family: 'Lobster', cursive;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
  color: plum;
  margin-top: 0.5em;
  margin-right: 0.5em;
}
.container .work ul {
  width: 50%;
  font-family: 'Lobster', cursive;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
  color: palevioletred;
}
@media (max-width: 500px) {
  .container .work ul {
    width: 97%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: auto 0;
    margin-left: 0.5em;
    font-size: 0.8em;
    font-family: fantasy;
  }
}
.container .contact {
  width: 50%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-left: 1em;
  border: 2px double aliceblue;
  margin: 2em;
  justify-content: center;
  margin-left: 20em;
  background-color: honeydew;
}
@media (max-width: 500px) {
  .container .contact {
    width: 97%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: auto 0;
    margin-left: 0.5em;
    font-size: 0.8em;
    font-family: fantasy;
  }
}
.container .contact h2 {
  width: 30%;
  font-size: 1.5em;
  font-family: 'Lobster', cursive;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
  color: plum;
  margin-top: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}
.container .contact ul {
  width: 50%;
  font-family: 'Lobster', cursive;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
  color: palevioletred;
}
@media (max-width: 500px) {
  .container .contact ul {
    width: 97%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: auto 0;
    margin-left: 0.5em;
    font-size: 0.8em;
    font-family: fantasy;
  }
}
.container .footer {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-left: 1em;
}
@media (max-width: 500px) {
  .container .footer {
    width: 97%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: auto 0;
    margin-left: 0.5em;
    font-size: 0.8em;
    font-family: fantasy;
  }
}
.container .footer nav {
  width: 100%;
}
.container .footer nav a {
  width: 10%;
  margin: 0;
  border: 3px solid powderblue;
  padding: 5px;
  display: inline-flex;
  border-radius: 10px;
  color: cornflowerblue;
  text-decoration: none;
  margin-bottom: 10px;
  background: peachpuff;
  font-family: 'Lobster', cursive;
}
.container .projects {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  margin-top: 1em;
  margin-left: 3em;
}
.container .projects .portfolio {
  display: flex;
  flex-direction: column;
  margin-right: 7.5rem;
}
.container .projects .portfolio button {
  width: 40%;
  align-self: center;
  color: pink;
  background-color: slategray;
  font-family: 'Lobster', cursive;
  font-size: 1rem;
}
.container .projects .resume {
  display: flex;
  flex-direction: column;
}
.container .projects .resume button {
  width: 40%;
  align-self: center;
  color: pink;
  background-color: slategray;
  font-family: 'Lobster', cursive;
  font-size: 1rem;
}
.container .projects .build-week {
  display: flex;
  flex-direction: column;
}
.container .projects .build-week button {
  width: 40%;
  align-self: center;
  color: pink;
  background-color: slategray;
  font-family: 'Lobster', cursive;
  font-size: 1rem;
}
.container .projects .single-page-app {
  display: flex;
  flex-direction: column;
}
.container .projects .single-page-app button {
  width: 40%;
  align-self: center;
  color: pink;
  background-color: slategray;
  font-family: 'Lobster', cursive;
  font-size: 1rem;
  margin-right: 7.5rem;
}
.container .projects .pictures {
  display: flex;
  flex-wrap: wrap;
  margin-right: 2rem;
}
.container .projects .pictures img {
  margin: 1em;
}
